<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms"/>

<div class="o-forms">
  <form action="/rating/new" method="post">
    <input id="o-forms-standard" class="o-forms__text" type="number" name="score">
    <input id="o-forms-standard" class="o-forms__text" type="submit" value="Submit">
  </form>
</div>
